a:link, a:visited {
  background-color: #C4012F;
  color: white;
  padding: 14px 25px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-family: Tahoma, Verdana, Segoe, sans-serif;
}

a:hover, a:active {
  background-color: #000000;
}
